doctype html
html
  head
      block head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{title}
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet")

        script(src='/javascripts/index.js' type='module' defer)
  body
    div(class='main-container')
      img(src='/images/background.jpg' id='background' alt='Main Background')
    div(class='background-image')
      img(src='/images/grim-reaper.png' id='grim' alt='Grim' style='background:transparent;')
    div(class='background-image-2')
      img(src='/images/grim2.png' id='grim2' alt='Reaper' style='background:transparent;')
    div(class='grid-container')
      div(class='logo-container')
        img(src='/images/bloody-letter-g.png' id='gora-logo' alt='Gora Logo' style="background:transparent;")
        h1(id='logo-name') ORA
      div(class='search-container')
        form(action="/search-results")
          div(class='search-items')
            input(id="search-bar" class="bttn-links" type="search" name="term" placeholder="Search...")
            input(type="image" name="submit" class="search-icon" src="/images/search-icon.ico" style='background:transparent;')
      div(class='user-login')
        a(id="user-login" class="bttn-links" href="/users/login") Log In
      div(class='user-signup')
        a(id="user-signup" class="bttn-links" href="/users/register") Sign Up
      div(class='demo-login')
        a(id="demo-login" class="bttn-links" href="/users/login/demo") Demo
      //- div(class='continue')
      //-   a(id="continue" class="bttn-links" href="/questions") Continue To Site
  footer
    p(id='footer') By Suwanshree Acharya, Damian Rojas, Nathan Zavala and Jason Vien
