doctype html
html
  head
      block head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Gora - #{title}
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div(class='horizontal-nav')
      div(class='top-items')
        p(id="banner") #{topic} Banner
      div(class='top-items')
        if (locals.authenticated)
          a(href='/questions/new' id='ask-a-question') Ask a Question
      div(class='top-items')
        div(class='search-container')
          form(action="/search-results")
          input(id="search-bar" type="search" name="term" placeholder="Search..." required)
          button(type="submit") Search Questions
      div(class='top-items')
        if !(locals.authenticated)
          a(id="demo-login" href="/users/login/demo") Demo
          a(id="user-login" href="/users/login") Log In
        else
          a(id='profile' href=`/profile/${user.id}`) Profile
          form(id='user-logout' action='/users/logout' method='post')
            button(id='user-logout' type='submit') Logout

    div(class='vertical-nav')
      ul
        li(class='nav-item')
          a(id="logo" href="/") Logo
        li(class='nav-item')
          a(id="all" href="/questions") All
        li(class='nav-item')
          a(id="cinema" href="/topics/1/questions") Cinema
        li(class='nav-item')
          a(id="literature" href="/topics/2/questions") Literature
        li(class='nav-item')
          a(id="gaming" href="/topics/3/questions") Gaming


    block content
