doctype html
html
  head
      block head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Gora - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div(class='horizontal-nav')
      ul
        li(class='top-nav')
          p(id="banner") #{topic} Banner
        li(class='top-nav')
          div(class='search-container')
            form(action="  ")
              input(id="search-bar" type="search" placeholder="Search...")
              button(type="submit") Image
        li(class='top-nav')
          //- TODO Log in as DEMO...
          a(id="demo-login" href="/questions") Demo
        li(class='top-nav')
          a(id="user-login" href="/users/login") Log In
        li(class='top-nav')
          a(id="user-logout" href="/users/logout") Log Out
        li(class='top-nav')
          //- TODO add sign up/register button
    div(class='vertical-nav')
      ul
        li(class='nav-item')
          a(id="logo" href="/") Logo
        li(class='nav-item')
          a(id="all" href="/questions") All
        li(class='nav-item')
          a(id="cinema" href="/topics/1/questions") Cinema
        li(class='nav-item')
          a(id="literature" href="/topics/2/questions") Literature
        li(class='nav-item')
          a(id="gaming" href="/topics/3/questions") Gaming


    block content
