doctype html
html
  head
      block head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Gora - #{title}
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div(class='horizontal-nav')
      div(class='top-items')
        //- p(id="banner") #{topic} Banner
      div(class='top-items')
        if (locals.authenticated)
          a(href='/questions/new' id='ask-a-question') Ask a Question
      div(class='top-items')
        div(class='search-container')
          form(action="/search-results")
            input(id="search-bar" type="search" name="term" placeholder="Search..." required)
            input(type="image" name="submit" class="mini-search-icon" src="/images/search-icon.ico" style='background:transparent;')
      div(class='top-items')
        if !(locals.authenticated)
          a(id="demo-login" href="/users/login/demo") Demo
          a(id="user-login" href="/users/login") Log In
        else
          a(id='profile' href=`/profile/${user.id}`) Profile
          form(id='user-logout' action='/users/logout' method='post')
            button(id='user-logout' type='submit') Logout

    div(class='vertical-nav')
      ul
        li(class='nav-item')
          button(id="home-button" onclick= "window.location.href='/';" style='background:transparent;')
            img(src='/images/bloody-letter-g.png' style='background:transparent; width:35%; height:35%')
        li(class='nav-item')
          a(id="all" class="topics" href="/questions") All
            img(src='https://cdn-icons-png.flaticon.com/512/1047/1047494.png' style='background:transparent; width:70%; height:70%')
        li(class='nav-item')
          a(id="cinema" class="topics" href="/topics/1/questions") Cinema
            img(src='https://cdn-icons-png.flaticon.com/512/683/683103.png' style='background:transparent; width:70%; height:70%')
        li(class='nav-item')
          a(id="literature" class="topics" href="/topics/2/questions") Literature
            img(src='https://cdn-icons-png.flaticon.com/512/2178/2178213.png' style='background:transparent; width:70%; height:70%')
        li(class='nav-item')
          a(id="gaming" class="topics" href="/topics/3/questions") Gaming
            img(src='https://cdn-icons-png.flaticon.com/512/5532/5532803.png' style='background:transparent; width:70%; height:70%')

    block content

  footer
    p(id='footer') By Suwanshree Acharya, Damian Rojas, Nathan Zavala and Jason Vien
