doctype html
html
  head
      block head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Gora - #{title}
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet")
  body
    div(class='horizontal-nav')
      div(class='top-items')
        a(id="home-button" onclick= "window.location.href='/';" style='background:transparent;')
          img(src='/images/bloody-letter-g.png' style='background:transparent; width:35%; height:35%')
      div(class='top-items')
          if (locals.authenticated)
            a(href='/questions/new' id='ask-a-question') Ask a Question
          form(action="/search-results")
            div(class='search-container')
              input(id="search-bar" type="search" name="term" placeholder="Search..." required)
              input(type="image" name="submit" class="mini-search-icon" src="/images/search-icon.ico" style='background:transparent;')
      div(class='top-items')
        if !(locals.authenticated)
          a(id="demo-login" href="/users/login/demo") Demo
          a(id="user-login" href="/users/login") Log In
        else
          a(id='profile' href=`/profile/${user.id}`) Profile
          form(id='user-logout' action='/users/logout' method='post')
            a(class="user-logout" href="javascript:{}" onclick="document.getElementById('user-logout').submit();") Log Out

    div(class='vertical-nav')
      ul(class='vertical-nav-ul')
        li
          a(id="all" class='nav-item topics' href="/questions")
            div(class="vnav-image-div")
              img(src='https://cdn-icons-png.flaticon.com/512/1047/1047494.png' style='background:transparent; width:100%; height:100%')
            div(class="vertical-nav-text inline-block") All
        li
          a(id="cinema" class='nav-item topics' href="/topics/1/questions")
            div(class="vnav-image-div")
              img(src='https://cdn-icons-png.flaticon.com/512/683/683103.png' style='background:transparent; width:100%; height:100%')
            div(class="vertical-nav-text inline-block") Cinema
        li
          a(id="literature" class='nav-item topics' href="/topics/2/questions")
            div(class="vnav-image-div")
              img(src='https://cdn-icons-png.flaticon.com/512/2178/2178213.png' style='background:transparent; width:100%; height:100%')
            div(class="vertical-nav-text inline-block") Literature
        li
          a(id="gaming" class='nav-item topics' href="/topics/3/questions")
            div(class="vnav-image-div")
              img(src='https://cdn-icons-png.flaticon.com/512/5532/5532803.png' style='background:transparent; width:100%; height:100%')
            div(class="vertical-nav-text inline-block") Gaming

    block content

  footer
    p(id='footer') By Suwanshree Acharya, Damian Rojas, Nathan Zavala and Jason Vien
