extends layout.pug

block content 
    div
        for question in allQuestions
            div(style={'padding': '20px', 'border': '4px solid black'})
                a= question.title
                a= question.content
                img(src=question.imgLink)
                //- if(question.Answers)
                for answer in question.Answers
                    a(style={'padding': '10px', 'border': '4px solid black' })= answer.content