extends layout.pug

block content
    script(src='/javascripts/questions.js' type='module')
    script(src='/javascripts/questions-carousel.js' type='module')
    link(rel='stylesheet' href='/stylesheets/questions.css')
    div(class='carousel')
        div(class='carousel-item')



    //- div(class='questions-divs' style={'margin-top': '50px', 'margin-left': '80px'})
    //- button(type='button' class='get-question') Next Question
