doctype html
html
  head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Gora - #{title}
        link(rel='stylesheet' href='/stylesheets/signup.css')
  body
    include utils.pug
    +validationErrorSummary(errors)
    form(action='/users/register' method='post')
        div(class='signup-form') GORA - Sign Up
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('First Name', 'firstName', user.firstName)
            +field('Last Name', 'lastName', user.lastName)
            +field('Username', 'username', user.username)
            +field('Email Address', 'email', user.email)
            +field('Password', 'password', user.password, 'password')
            +field('Confirm Password', 'confirmPassword', '', 'password')
            button(type='submit' class='submit-button') Submit
            a(href='/' class='cancel-button') Cancel
