body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.grid-container {
  text-align: center;
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  grid-area: logo;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Nosifer", cursive; */
}
/* .user-login #user-login {
  width: 175px;
  height: 50px;
}
.user-signup #user-signup {
  width: 175px;
  height: 50px;
}

.demo-login #demo-login {
  width: 175px;
  height: 50px;
} */
/* .continue {
  grid-area: continue;
}  */
.bttn-links {
  font-size: 40px;
  padding: 20px 40px;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  transition: .5s;
}
.main-container {
  background-color: black;
  position: absolute;
  background-size: cover;
  margin-left: 0pt;
  z-index: -2;
}
.logo-container {
  justify-self: center;
  margin-top: 100px;
}
#background {
  opacity: 35%;
  width: 200%;
}
#gora-logo {
  width: 180px;
  height: 180px;
}
#logo-name {
  margin-left: 0px;
  color: rgb(190, 30, 45);
  font-size: 90px;
}
a {
  color: #00b7ff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nosifer", cursive;
}

.search-items {
  position: relative;
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  align-items: center;
}

/* .search-container {
  margin-left: 300px;
  margin-right: 300px;
} */

.search-icon {
  height: 60px;
  width: 60px;
  opacity: 40%;
}

.search-icon:hover {
  opacity: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  color: rgb(182, 15, 48);
}

#footer {
  color: rgb(105, 104, 104);
  margin-bottom: 5px;
}

#footer a {
  color: rgb(141, 140, 140);
}

#footer a:hover {
  color:rgb(148, 20, 33);
}

#search-bar {
  width: 500px;
  height: 80px;
  font-size: 18pt;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#user-login {
  margin: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#user-signup {
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#demo-login {
  margin: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#user-login:hover {
  opacity: 110%;
  color: rgb(207, 17, 36);
}

#user-signup:hover {
  opacity: 110%;
  color: rgb(207, 17, 36);
}

#demo-login:hover {
  opacity: 110%;
  color: rgb(207, 17, 36);
}

.background-image {
  background: transparent;
  position: absolute;
  margin-left: 300px;
  margin-bottom: 500px;
  z-index: -1;
  opacity: 30%;
  transition: transform 0.3s;
}

.background-image:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.background-image-2 {
  background: transparent;
  position: absolute;
  margin-left: 700px;
  margin-top: 600px;
  z-index: -1;
  opacity: 30%;
  transition: transform 0.3s;
}

.background-image-2:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.motto-container {
  width: 450px;
}

#motto {
  color: rgb(207, 17, 36);
  font-size: larger;
}

#buttons-container{
  display: flex;
}
