body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  .grid-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 1fr 1fr 1fr;
    grid-template-areas:
    ". logo ."
    "login . signup"
    ". search ."
    ". demo .";
  }
  .logo-container {
    grid-area: logo;
    display: inline-flex;
    align-items: center;
    font-family: 'Nosifer', cursive;

  }
  .user-login {
    grid-area: login;
  }
  .user-signup {
    grid-area: signup;
  }
  .search-container {
    grid-area: search;
  }
  .demo-login {
    grid-area: demo;
    padding: 100px;
  }
  .continue {
    grid-area: continue;
  }
  .bttn-links {
    font-size: 40px;
    padding: 20px 40px;
    background-color: rgb(105, 104, 104);
  }
  #gora-logo {
    width: 30%;
    height: 60%;
  }
  #logo-name {
    font-size: 100px;
  }
  a {
    color: #00B7FF;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Nosifer', cursive;
  }

  h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
  body, header, nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
  }

  h1 {
    font-size: 2rem;
    color: rgb(182, 15, 48);
  }
