body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url(../images/shining-wallpaper_129728.jpg) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.form-container {
  font-family: 'Nosifer', cursive;

  color: rgb(43, 18, 23);
  right: 0;
  margin: 20px;
  width: 350px;
  padding: 16px;
  background-color: rgb(105, 104, 104);
  opacity: 80%;
  border-radius: 10px;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.button-login {
  background-color: rgb(107, 10, 29);
  font-family: 'Nosifer', cursive;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.button-login:hover {
  opacity: 3;
}

#errors-div {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
