a {
  font-size: 25px;
  text-align: center;
}
img {
  padding: 50px;
}
.prof-filter {
  padding: 25px;
  width: 20%;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Nosifer", cursive;
  font-size: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
}

.prof-filter:hover {
  background-color: crimson;
}

.profile-question-divs {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(129, 127, 127);
  text-align: center;
}

.profile-answer-divs {
  padding: 10px;
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(129, 127, 127);
}

.question-items {
  padding: 25px;
  border: 2px solid rgb(70, 70, 70);
}

.question-title {
  padding: 20px;
}

.answer-items {
  padding: 25px;
  border: 2px solid rgb(70, 70, 70);
}

.profile-comment-divs {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(129, 127, 127);
}

.main-container {
  margin-top: 50px;
  margin-left: 100px;
}
