body {
  padding: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
}

#topic {
  margin-left: 50px;
  text-align: center;
}

/*
h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
} */

h1 {
  font-size: 2rem;
  color: rgb(182, 15, 48);
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(47, 47, 47);
  /* border-top: 1px solid rgb(47, 47, 47); */
}

.vertical-nav-text {
  font-weight: bold;
  font-family: "Nosifer", cursive;
  margin-right: 10px;
  margin-left: 25px;
}

.vertical-nav-text:hover {
  color: rgb(148, 20, 33);
}

.vertical-nav {
  height: 100%;
  width: 220px;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

.vertical-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
}

.vertical-nav li {
  margin: 0;
}

.vertical-nav li a {
  color: rgb(212, 212, 212);
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.vertical-nav li:hover {
  background-color: rgb(0, 0, 0);
}

.vertical-nav li:onclick {
  background-color: rgb(0, 0, 0);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar {
  background-color: rgb(70, 70, 70);
  border-radius: 7px;
  width: 400px;
  height: 45px;
  padding-left: 10px;
}

.search-container input {
  color:white;
}

.vnav-image-div {
  width: 30px;
  margin-top: 10px;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
} */

h1 {
  font-size: 2rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: rgb(182, 15, 48);
}

.icon {
  margin-right: 10px;
}
.hidden {
  display: none;
}

.horizontal-nav {
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  right: 0;
  overflow-y: hidden;
  background-color: rgb(29, 29, 29);
  text-decoration: none;
  opacity: 70%;
  padding: 0 20px 0 40px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-items {
  display: flex;
  align-items: center;
}

#demo-login {
  padding: 20px;
}

#user-login {
  padding: 20px;
}

.user-logout {
  padding: 20px;
  cursor: pointer;
}

/* #profile {
   font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 10px;
} */

a {
  color: #ffffff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nosifer", cursive;
  font-size: 16px;
}

p {
  font-weight: bold;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.timestamp {
  font-size: 14px;
  color: grey
}

.horizontal-nav a:hover {
  color: rgb(190, 30, 45);
}

.question-divs {
  margin-top: 50px;
  margin-left: 100px;
}

.question-divs a {
  color: rgb(223, 223, 223);
}

.mini-search-icon {
  height: 6%;
  width: 6%;
  opacity: 60%;
}

.mini-search-icon:hover {
  opacity: 150%;
}

#home-button {
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
}

#ask-a-question {
  border-radius: 10px;
  margin-right: 10px;
  width: 180px;
}

#footer {
  margin-left: 245px;
  color: rgb(141, 140, 140);
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#footer a {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(141, 140, 140);
}

#footer a:hover {
  color:rgb(148, 20, 33);
}
/* #ask-a-question {
  padding: 5px;
  width: 150%;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
  font-family: "Nosifer", cursive;
  font-size: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
}

#ask-a-question:hover {

  border: 3px solid black;
  padding: 2px;
  box-shadow: inset 0em -1em rgb(122, 12, 34);

} */

input {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
