body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;



}
.grid-container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". logo ."
    "login . signup"
    ". search ."
    "demo . continue";
}
.container-two {
  grid-area: logo;
}
.user-login {
  grid-area: login;
}
.user-signup {
  grid-area: signup;
}
.search-container {
  grid-area: search;
}
.demo-login {
  grid-area: demo;
}
.continue {
  grid-area: continue;
}
a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  color: rgb(182, 15, 48);
}

.container-two {
  display: inline-flex;
}
