.question-img {
  padding: 50px;
}


.search-question-divs {

  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(129, 127, 127);
  text-align: center;
  margin: 0;
}

#profile-questions {
 width: 150%;
 height: 150%;
 opacity: 0;
}
#profile-answers {
 width: 150%;
 height: 150%;
 opacity: 0;
}
#profile-comments {
 width: 150%;
 height: 150%;
 opacity: 0;
}

.prof-filter {
  padding: 5px;
  width: 30%;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
  font-family: "Nosifer", cursive;
  font-size: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
}

.prof-filter:hover {

  border: 3px solid black;
  padding: 2px;
  box-shadow: inset 0em -1em rgb(122, 12, 34);
  opacity: 75%;
}

.search-answer-divs {
  padding: 10px;
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(129, 127, 127);
}

.question-items {
  padding: 25px;
  border: 2px solid rgb(70, 70, 70);
}

.title {
  padding: 20px;
  font-weight: bolder;
  font-size: large;
  text-decoration: underline;
}

.title:hover {
  text-decoration: underline overline #FF3028;
}

.answer-items {
  padding: 25px;
  border: 2px solid rgb(70, 70, 70);
}

.search-comment-divs {
  border: 2px solid rgb(70, 70, 70);
  background-color:  rgb(129, 127, 127);

}

.main-container {
  margin-top: 50px;
  margin-left: 200px;
}
