.question-img {
  padding: 50px;

}
.question-img img {
  max-width: 99%;
}

.search-question-divs {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(29, 29, 29);
  text-align: center;
  margin: 0;
  border-radius: 10px;
}

#profile-questions {
  width: 150%;
  height: 150%;
  opacity: 0;
}
#profile-answers {
  width: 150%;
  height: 150%;
  opacity: 0;
}
#profile-comments {
  width: 150%;
  height: 150%;
  opacity: 0;
}

.prof-filter {
  padding: 5px;
  width: 30%;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
  font-family: "Nosifer", cursive;
  font-size: 15px;
  background-color: rgb(29, 29, 29);
  color: white;
}

.prof-filter:hover {
  border: 3px solid black;
  padding: 2px;
  box-shadow: inset 0em -1em rgb(122, 12, 34);
  opacity: 75%;
}

.search-answer-divs {
  padding: 10px;
  border: 2px solid rgb(29, 29, 29);
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
}

.question-items {
  padding: 25px;
  border: 2px solid rgb(29, 29, 29);
}

.title {
  padding: 20px;
  font-weight: bolder;
  font-size: large;
  text-decoration: underline;
}

.title:hover {
  text-decoration: underline overline #ff3028;
}

.answer-items {
  padding: 25px;
  border: 2px solid rgb(29, 29, 29);
}

.search-comment-divs {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(29, 29, 29);
}

.main-container {
  margin-left: 240px;
  margin-top: 75px;
}

.question-title a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.search-questions-div,
.question-items {
  border-radius: 10px;
}

#search-question-content {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
